arrow==1.0.2
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
dataclasses==0.8
gevent==21.1.2
greenlet==1.0.0
idna==2.10
iso8601==0.1.14
leancloud==2.9.1
lxml==4.6.2
pycparser==2.20
python-dateutil==2.8.1
qiniu==7.2.2
requests==2.25.1
secure-cookie==0.1.0
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
